/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#modalContent {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fff;}

/* Container */
#simplemodal-container {
	width: 1170px;
	margin: 0 auto 60px;
	height:550px; 
	color:#000; 
	background-color:#fff; 
	border:1px solid #ddd;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

#simplemodal-container code {
	background:#141414; 
	border-left:3px solid #65B43D; 
	color:#bbb; 
	display:block; 
	font-size:12px; 
	margin-bottom:12px; 
	padding:4px 6px 6px;
}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {
	background:url(x.png) no-repeat; 
	width:34px; 
	height:34px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-15px; 
	right:-16px; 
	cursor:pointer;
}
#simplemodal-container h3 {color:#84b8d9;}
