/* Datepicker
----------------------------------*/
input.ui-datepicker, textarea.ui-datepicker { width: auto; }
.ui-datepicker { width: 17em; padding: .2em .2em 0; border: 2px solid #ddd;background: #fff;}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; text-align: center; }
.ui-datepicker .ui-icon { width: 16px; height: 16px; z-index: 11; text-indent: -999px; }
.ui-datepicker .ui-datepicker-cmd-prev, .ui-datepicker .ui-datepicker-cmd-next { position: absolute; top: 5px; }
.ui-datepicker .ui-datepicker-cmd-prev { left: 4px; background-position: -80px -192px; }
.ui-datepicker .ui-datepicker-cmd-next { right: 4px; background-position: -48px -192px; }
.ui-datepicker .ui-datepicker-cmd-prev:hover { left: 3px; top: 4px; }
.ui-datepicker .ui-datepicker-cmd-next:hover { right: 5px; top: 4px; }
.ui-datepicker .ui-datepicker-cmd-prevJump, .ui-datepicker .ui-datepicker-cmd-nextJump { position: absolute; top: 5px; }
.ui-datepicker .ui-datepicker-cmd-prevJump { left: 22px; background-position: -16px -192px; }
.ui-datepicker .ui-datepicker-cmd-nextJump { right: 22px; background-position: 0px -192px; }
.ui-datepicker .ui-datepicker-cmd-prevJump:hover { left: 21px; top: 4px; }
.ui-datepicker .ui-datepicker-cmd-nextJump:hover { right: 23px; top: 4px; }
.ui-datepicker .ui-datepicker-cmd-current, .ui-datepicker .ui-datepicker-cmd-today { background-position: -64px -192px; }
.ui-datepicker .ui-datepicker-cmd-clear { background-position: -32px -192px; }
.ui-datepicker .ui-datepicker-cmd-close { background-position: -208px -192px; }
.ui-datepicker-disabled { opacity: 0.5; cursor: default; }
.ui-datepicker .ui-datepicker-disabled.ui-datepicker-cmd-prev:hover { left: 4px; top: 5px; }
.ui-datepicker .ui-datepicker-disabled.ui-datepicker-cmd-next:hover { right: 4px; top: 5px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year { width: auto; }
.ui-datepicker input.ui-datepicker-month-year { position: absolute; display: none; padding: 0px; border-width: 1px; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker th a { text-decoration: none; }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
.ui-datepicker button.ui-datepicker-cmd-close { float: right; }
.ui-datepicker button.ui-datepicker-cmd-today { float: left; }
.ui-datepicker-status { text-align: center; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; padding: 0px 4px; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi .ui-datepicker-cmd-prev { left: 8px; }
.ui-datepicker-multi .ui-datepicker-cmd-next { right: 8px; }
.ui-datepicker-multi .ui-datepicker-cmd-prev:hover { left: 7px; }
.ui-datepicker-multi .ui-datepicker-cmd-next:hover { right: 9px; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}