p {
	text-indent: 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.pull-right{float:right!important}
.pull-left{float:left!important}
.clearfix:before,
.clearfix:after { 
	display:table;content:" " 
}
.clearfix:after {
	clear:both
}
.btn-bradios{
	border-radius: 4px;
}
.tcenter{
	text-align: center!important;
}
.tright{
	text-align: right!important;
}
.tleft{
	text-align: left!important;
}
.inlineBlock{
	display: inline-block;
}
.mb25{
	margin-bottom: 25px!important;
}
.mb0{
	margin-bottom: 0px!important;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.content_read{
	margin-bottom: 30px;
}
.content_read .alignleft{
	float: left;
	margin: 5px 25px 10px 0;
}
.content_read .alignright{
	float: right;
	margin: 5px 0 10px 25px;
}
.content_read .aligncenter{
	float: none;
	margin: 0 auto;
	display: block;
}
h1.page_content_heading{
	font-size: 25px;
	margin-bottom: 20px;
	color: #000;
	text-indent: 0.3em;
}
.relateivebox{
	position: relative!important;
}


a#login {
	padding: 5px 22px;
	margin: 0;
	font-size: 15px;
	text-transform: capitalize;
	color: #fff;
}
.main-nav li:last-child{
	border-left: 1px solid #fff;
}
/*.main-nav li a{
	font-family: "Myriad Pro";	
}*/
.benefits .text,
.benefits .pic{
	background: rgba(77,177,226,0.9);
}
.benefits li:nth-child(even) .pic,
.benefits li:nth-child(even) .text{
	background: rgba(0,143,213,0.9)
}
#home-doctors-carousel .item a.plus-icon, #myDoctorsGrid .item a.plus-icon, .team_item a {
	background: #008fd5;
	color: #fff;
	padding: 0 10px;
	position: absolute;
	bottom: 1.8%;
	right: 10%;
	font-size: 25px;
	font-weight: 100;
	line-height: 30px;
}
#home-doctors-carousel .item:hover a.plus-icon{
	color: #008fd5;
}
#homeVideo, #homeTestimonials{
	position: relative; 
}
#homeVideo .owl-controls, #homeTestimonials .owl-controls{
	bottom: 0;
	top: 110%;
}
#homeVideo .item{
	padding-right: 0;
}
#homeVideo .item h3{
	margin: 10px 0;
}
#homeVideo .item h3 a{
	font-size: 16px;
	color: #000;
	font-weight: 700;
}
#homeVideo .video iframe{
	height: 200px
}
.testimonialsAuthor{
	color: #7c7c7c;
	font-size: 14px;
	font-weight: bold;
}
 #homeTestimonials .item img{
	border: none;
}
a.whiteReadmore{
	color: #fff;
}
#footerRecentPosts li p, #footerConnectWithUs li p{
	text-indent: 0;
}
#footerConnectWithUs li a.fa {
	border: 3px solid #008fd5;
	color: #008fd5;
	display: inline-block;
	width: 55px;
	height: 55px;
	margin: 5px 15px 5px 5px;
	font-size: 40px;
	line-height: 55px;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
	text-align: center;
	float: left;
}
#footerConnectWithUs .widget-icon{
	background-image: url(img/helthclinic/cwu.png);
}
#footerConnectWithUs li a.fa:hover{
	color: #000;
	background: #008fd5;
}
#footerConnectWithUs .widget-site-search input{
	width: 52%;
	margin-top: 5px;
}
#footerConnectWithUs .widget-site-search .button:after{
	border-right-color: transparent;
}
.copyrights .grid-row{
	margin-bottom: 0;
}
#location-img{
	height: 42px;
	overflow: hidden;
}
#location-img img{
	margin:5px 0px 0px 20px;
}
/*My Doctcors*/
#subpageHeader{
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 1px 5px 0px #ddd;
	-moz-box-shadow: 0px 1px 5px 0px #ddd;
	box-shadow: 0px 1px 5px 0px #ddd;
}
#profileBox{
	border: 1px solid #ddd;
	text-align: center;
	padding: 20px 15px;
	position: relative;
	margin-bottom: 20px;
}
#profileBox .widget-title{
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
}
#profileBox .chart-circle{
	margin:0 auto;
}
#profileBox .chart-circle, #profileBox .chart-circle canvas{
	width: 150px;
	height: 150px; 
}
#profileBox .chart-circle .value{
	top: 50px;
	left: 50px;
}
#profileBox .proflieInfo{
	margin-bottom: 35px;
}
#profileBox .proflieInfo h3{
	font-size: 18px;
	line-height: 24px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 5px;
}
#profileBox .vc_row-fluid{
	margin-bottom: 0;
	color: #f68206;
	font-size: 16px;
}
#sidebarMenu li{
	border: 1px solid #ddd;
	margin-bottom: 1px;
	position: relative;
}
#sidebarMenu li i{
	color: #000;
	font-size: 50px;
	position: absolute;
	left: 8%;
	top: 18%;
}
#sidebarMenu li a{
	font-size: 15px;
	color: #333;
	padding: 5% 5% 5% 33%;
	line-height: 50px;
	display: block;
}
#sidebarMenu li:hover, #sidebarMenu li.active{
	border-color: #008fd5;
}
#sidebarMenu li:hover a, #sidebarMenu li:hover i, #sidebarMenu li.active i, #sidebarMenu li.active a{
	color: #fff;
	background: #008fd5;
}
#myDoctorsGrid .pic{
	padding-bottom: 100%;
}
#myDoctorsGrid .item a.plus-icon{
	right: 5%;
}
#myDoctorsGrid h3{
	color: #000;
}
#myDoctorsGrid p{
	color: #008fd5;
}
#myDoctorsGrid .item:hover h3,#myDoctorsGrid .item:hover p{
	color: #fff;
}
a#addDoctor{
	margin-top: 40px;
}
.widget-title{
	margin-bottom: 40px;
}
/*Messages*/
#messagesTabs{
	margin-bottom: 0;
}
#messagesTabs li{
	padding: 15px;
	background: #fff;
	cursor: pointer;
}
#messagesTabs li.active, #messagesTabs li:hover{
	background: #f2f2f2;
}
#messagesTabs img{
	margin-right: 20px;
}

h3.drName{
	position: relative;
	font-size: 17px;
	line-height: 23px;
	color: #000;
	font-weight: bold;
}
#messagesTabs span.postedDate{
	float: right;
	font-size: 12px;
	color:#9d9e9f;
}
#messagesTabs .doctorinfo{
	padding-top: 15px;
}
#messagesTabs .vc_span5{
	margin-left: 0;
	width: 42.5%;
}
#messagesTabs .ajaxMessage{
	padding: 15px 10px 15px 25px;
	background: #f2f2f2;	
}
small.date{
	font-size: 12px;
	color:#9d9e9f;
}
#messagesTabs .ajaxMessage p{
	text-indent: 0;
}
#messagesTabs .ajaxMessage .msgText{
	padding-top: 20px;
}
#messagesTabs .ajaxMessage .msgText.reply{
	padding-left: 50px;
}
#messagesTabs .ajaxMessage h3.drName{
	margin-bottom: 10px;
}
/*Profile*/
#patientProfile .wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li a{
	border-color: #fff;
	border-bottom: 1px solid #ddd;
	text-transform: none;
	font-size: 16px;
}
#patientProfile .wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li.ui-tabs-active a:after {
	border-top-color: transparent;
}
#patientProfile .wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{
	border: none;
	padding: 19px 0;
}
#patientProfile .wpb_tabs .wpb_tabs_nav li.ui-tabs-active a {
	background: #fff;
	color: #008fd5;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
#patientProfile .wpb_tabs_nav{
	border-bottom: 1px solid #ddd;
}
#patientProfile .wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li{
	margin-bottom: -1px;
}
#patientProfile .wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li{
	margin-right: 0;
}
#personalForm .input label{
	width: 120px;
	float: left;
	padding-top: 8px;
	font-weight: 500;
	color: #000;
}
#personalForm .input input{
	width: 304px;
	float: left;
}
#personalForm .input{
	margin-bottom: 20px;
}
#personalForm .input .inline input, #personalForm .input .inline label{
	width: auto;
	display: inline-block;
}
#personalForm .input .inline input{
	margin-top: 5px;
	margin-right: 10px;
}
#personalForm .input .inline label{
	margin-right: 20px;
}
/**Custom Select box*/
.select-wrapper{
	float: left;
	display: inline-block;
	border: 1px solid #d8d8d8;            
	background: url("img/helthclinic/select-bg.png") no-repeat right center;
	cursor: pointer;
}
.select-wrapper, .select-wrapper select{
	width: 302px;
	height: 40px;
	line-height: 40px;
	color: #999;
}
.select-wrapper:hover{
	background: url("img/helthclinic/select-bg.png") no-repeat right center;
	border-color: #239fdb;
}
.select-wrapper select{
	width: 304px;
	margin-left: -1px;
	position: absolute;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	color: #999;
}
.select-wrapper .holder{
	padding-left: 15px;
}
a.custom-btn{
	padding: 5px 30px;
	margin-bottom: 0;
	text-transform: none;
	color: #fff!important;
	font-weight: bold;
}
#tabBasicInformation .switchStyle{
	border: 1px solid #008fd5;
}
#tabBasicInformation .vc_span4 span{
	padding: 12px;
	line-height: 20px;
	display: inline-block;
	width: 40%;
	text-align: center;
	color: #008fd5;
}
#tabBasicInformation .vc_span4 .switchLabel{
	background: #008fd5;
	color: #fff;
}
#tabBasicInformation .vc_span4 .switchText input{
	width: 115px;
	color: #008fd5;
}
table thead tr th{
	background: #dbddde;
	padding: 10px 15px;
	text-align: left;
}
table tbody tr td{
	padding: 20px 15px;
	border-bottom: 1px solid #ddd
}
.statusLink{
	font-size: 25px;
	vertical-align: middle;
	padding-left: 5px;
}
#tabBasicInformation form .input{
	margin-bottom: 20px;
}
.profileTables .select-wrapper select.width100, .profileTables .select-wrapper{
	width: 100px;
}
.profileTables tbody tr td:last-child{
	padding-right: 0;
}
.profileTables tbody tr td:last-child .select-wrapper, .profileTables tbody tr td:last-child .select-wrapper select{
	width: 113px;
}
.profileTables tr td{
	vertical-align: middle;
}
#paymentInfo thead tr th, 
#paymentInfo tbody tr td,
#paymentInfo tbody tr td input, 
.tableReport thead tr th,
.tableReport{
	text-align: center;
}
#paymentInfo tbody tr td:last-child, .mm_and_yy{
	text-align: left;
}
#paymentInfo tbody tr td:last-child .select-wrapper,.mm_and_yy .select-wrapper{
	display: inline-block;
	float: right;
	margin-left: 10px;
}
#paymentInfo tbody tr td:first-child i{
	color:#008fd5;
	font-weight: bold;
	font-size: 22px;
}
.tableReport{
	margin-top: 50px;
}
#notificationSetting .notificationBox{
	padding: 20px;
	border: 1px solid #ddd;
	text-align: center;
}
#notificationSetting .notificationBox img{
	margin-bottom: 20px;
}
#notificationSetting .widget-site-search .button:after {
	border-right-color: transparent;
}
#notificationSetting .notificationBox button{
	text-transform: capitalize;
}
#notificationSetting .notificationBox form{
	margin-bottom: 25px;
}
#notificationSetting .notificationBox input{
	border-color: #ddd;
}
.switchOnOff span{	
	display: inline-block;
	line-height: 45px;
	border: 1px solid #ddd;
}
.switchOnOff span a{
	padding: 15px 25px;
	font-weight: bold;
	text-transform: uppercase;
}
.switchOnOff span a.active{
	background: #008fd5!important;
	color: #fff!important;
}
.switchOffbtn{
	color: #999;
}
/*Find A Doctor*/
#findADoctor #filterForm{
	margin-bottom: 22px;
}
#findADoctor #subpageHeader{
	margin-bottom: 0;
}
#home_quick_search, #filterForm{
	position: relative;
	background: #eeecec;
	text-align: center;
	-moz-box-shadow:    inset  0  8px 8px -8px #dfdcdc, 
                        inset  0 -8px 8px -8px #dfdcdc;
    -webkit-box-shadow: inset  0  8px 8px -8px #dfdcdc, 
                        inset  0 -8px 8px -8px #dfdcdc;
    box-shadow:         inset  0  8px 8px -8px #dfdcdc, 
                        inset  0 -8px 8px -8px #dfdcdc; 
}
#filterForm h2{
	color: #008fd5;
	font-size: 18px;
	padding-top: 8px;
	margin-right: 15px;
}
#filterForm .input{
	float: left;
	width: 250px;
	margin-right: 15px;
}
#filterForm .input input{
	text-align: center;
}
#home_quick_search .col-centered,
#filterForm .col-centered{
	margin-left: 20%;
	margin-top: 10px;
	margin-bottom: 6px;
}
#filterForm .select-wrapper,
#filterForm .select-wrapper select{
	width: 250px;
	height:38px;
	background-color: #fff;
	color: #999;
}
#filterForm .select-wrapper .holder {
	width: 80%;
	display: block;
	padding-left: 0;
	color: #7c7c7c;
}
.doctorType{
	margin-top: 5px;
}
.doctorType .inlineBlock input{
	display: inline-block;
}
.doctorType .inlineBlock{
	margin-right: 10px;
}
/*radio style start*/
#filterForm input[type=radio].css-checkbox,
#loginBox input[type=radio].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	top:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

#filterForm input[type=radio].css-checkbox + label.css-label,
#loginBox input[type=radio].css-checkbox + label.css-label {
	padding-left:15px;
	height:10px; 
	display:inline-block;
	line-height:10px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	font-size: 12px;
}
#filterForm input[type=radio].css-checkbox:checked + label.css-label,
#loginBox input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -10px;
}
#filterForm label.css-label,
#loginBox label.css-label {
	background-image:url(img/helthclinic/radio-bg.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 10px;
}
/*radio style end*/

#findDoctorLB .wpb_button{
	padding: 3px 7px;
	text-transform: capitalize;
}
.widget-title small{
	color: #999;
	font-size: 12px;
	vertical-align: bottom;
}
.custom-panel{
	position: relative;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.custom-panel .panel-heading{
	padding-left: 16px;
	border-left-width: 12px;
	border-left-style: solid;
	font-size: 16px;
	color: #000;
	border-left-color: #008fd5;
	position: relative;
	height: 50px;
	margin-left: -1px;
	margin-top: -1px;
	font-weight: 500;
}
.custom-panel .panel-heading:after {
	border-left-color: #008fd5;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left-width: 4px;
	border-left-style: solid;
}
.custom-panel .panel-body{
	padding: 12px;
}
.custom-panel .panel-heading span{
	padding-top: 12px;
	display: inline-block;
	font-size: 16px;
	/*font-family: "Myriad Pro";
}
#findDoctorLB{
	font-family: "Myriad Pro";*/
}
#languageList li a{
	display: block;
	background-color: #f9f9f9;
	padding: 5px 15px;
	margin-bottom: 8px;
	color: #000;
	font-size: 14px;
}
#languageList li a:hover,
#languageList li.active a{
	background-color: #eeeeee;
}
/*input[type=radio] secod style*/
.style2Radio input[type=radio]{
    display:none; 
    margin:10px;
} 
.style2Radio input[type=radio] + label{
    display:inline-block;
    margin:-2px;
    padding: 5px 43px;
    background-color: #f9f9f9;
    border-color: #ddd;
    cursor: pointer;
    color: #000;/*
    font-family: "Myriad Pro";*/
}
.style2Radio input[type=radio]:checked + label{ 
   	background-image: none;
    background-color:#eeeeee;
    cursor: pointer;
}
#averageRating input[type=radio] + label{
	padding: 8px 15px;
	margin: 0 4px;
}
#averageRating input[type=radio] + label:hover,
#averageRating input[type=radio]:checked + label{
	background-image: none;
    background-color:#008fd5;
    color: #fff;
}
#doctorAppointment{
	margin-top: 60px;
}
#doctorAppointment h2.dName,
#modalContent h2.dName,
#nextStepsPanel h2{ 
	margin-bottom: 4px;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	margin-top: -5px;
	font-weight: bold;
}
#doctorAppointment .doctorBox img,
#modalContent .doctorBox img{
	margin-right: 25px;
}
#doctorAppointment .doctorBox span,
#modalContent .doctorBox span{
	color: #008fd5;
	font-size: 13px;
	display: block;
	line-height: 18px;
}
#doctorAppointment .doctorBox .doctorFee,
#modalContent .doctorBox .doctorFee{
	font-size: 30px;
	color: #999;
	font-weight: 600;
}
#doctorAppointment .doctorReviews i,
#modalContent .doctorReviews i{
	margin-right: 5px;
	color: #d7d3d3;
	font-size: 35px;
}
#doctorAppointment .doctorReviews i.active,
#modalContent .doctorReviews i.active{
	color: #fba105;
}
#doctorAppointment .doctorReviews p,
#modalContent .doctorReviews p{
	color: #008fd5;
	text-align: center;
	text-indent: 0;
	margin-top: 10px;
}
a.doctorModel{
	background: #008fd5;
	color: #fff;
	padding: 6px 10px;
	width: 255px;
	display: block;
	text-align: center;
	font-size: 17px;
}
a.doctorModel img{
	margin-top: 3px;
}
a.requestAppointmentBtn{
	background-color: #026595;
}
#modalContent .doctorBox .doctorFee{
	font-size: 28px;
}
#modalContent .docotrList{
	padding: 20px;
	margin-bottom: 0;
}
#modalContent .doctorReviews{
	height: 80px;
	display: table-cell;
	text-align: center;
	width: 258px;
	vertical-align: middle;
	margin-bottom: 0;
}
#modalContent .wpb_accordion_header span.rowCount{
	border-right: 1px solid #ddd;
	padding: 11px 0;
	display: inline-block;
	padding-right: 15px;
	color: #fff;
	margin-right: 15px;
}
#modalContent .wpb_accordion_header a{
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	background-color: #7fc7ea;
}
#modalContent .wpb_accordion.wpb_accordion_alt .wpb_accordion_wrapper h3.ui-state-active a{
	background-color: #008fd5;
}
#modalContent .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:after, 
#modalContent .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:before{
	background: #fff;
}
.appoinmentForm input, .appoinmentForm select, .appoinmentForm textarea{
	text-align: center;
}
.appoinmentForm .vc_row-fluid{
	margin-bottom: 30px;
}
.appoinmentForm label.label,
#a_p_info ul li label.label{
	background: url('img/helthclinic/Appointment_03.png') no-repeat;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #646060;
	font-weight: bold;
}
.appoinmentForm label.bgdateTime,
#a_p_info ul li label.bgdateTime{
	background-position: 0 0;
}
.appoinmentForm label.bgmode,
#a_p_info ul li label.bgmode{
	background-position: 0px -72px;
}
.appoinmentForm label.bgreason,
#a_p_info ul li label.bgreason{
	background-position: 0px -142px;
}
.appoinmentForm label.bgnotes,
#a_p_info ul li label.bgnotes{
	background-position: 0 -212px;
}
.appoinmentForm label.bgaddCal,
#a_p_info ul li label.bgaddCal{
	background-position: 0px -340px;
}
.appoinmentForm label.bgRecievesms,
#a_p_info ul li label.bgRecievesms{
	background-position: 0px -412px;
}
#datepicker{
	float: left;
	width: 290px;
	margin-right: 10px;
}
.appoinmentForm img.ui-datepicker-trigger{
	float: right;
	width: 50px;
	height: 40px;
	cursor: pointer;
}
/*Datepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.appoinmentForm .style2Radio input[type=radio] + label,
.cardsType input[type=radio] + label{
	background-color: #f1eff0;
	border: 2px solid #d4d0d0;
	border-radius: 5px;
	margin-right: 10px;
	padding: 3px 10px 0px;
	vertical-align: top;
}
.appoinmentForm .style2Radio input[type=radio] + label{
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	color: #008fd5;
	padding: 10px 25px 10px 8px;
	vertical-align: middle;
	font-size: 12px;
}
.appoinmentForm .style2Radio input[type=radio]:checked + label{
	background-color: #008fd5;
	background-image: none;
	border: 1px solid #008fd5;
	color: #fff;
}
.appoinmentForm .style2Radio input[type=radio]:checked + label,
.cardsType input[type=radio]:checked + label{
	background-color: #008fd5;
	border-color: #008fd5;
	color: #fff;
}
.appoinmentForm .style2Radio input[type=radio] + label i,
.cardsType input[type=radio] + label i{
	font-size: 22px;
	padding-right: 10px;
	vertical-align: middle;
}
/*Check box*/
input#addToCalendar, input#viaSMS {
	visibility: hidden;
}
/* SQUARED TWO */
.addToCalendar {
	background: #fff;
	position: relative;
}
.addToCalendar label {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 4px;
	top: 4px;
	-moz-box-shadow:    inset 0 0 10px #999;
   -webkit-box-shadow: inset 0 0 10px #999;
   box-shadow:         inset 0 0 10px #999;
}
.addToCalendar label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 4px;
	background: transparent;
	top: 9px;
	left: 8px;
	border: 3px solid #008fd5;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.addToCalendar label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.addToCalendar input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
#simplemodal-container .appoinmentForm a.custom-btn{
	color: #fff;
	padding: 5px 30px;
}

#uploadReports .custom-file-input{
	width: 200px;
	float: left;
	color: #666;
}
#uploadReports .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
#uploadReports .custom-file-input::before {
	content: 'Upload Proof';
	display: inline-block;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px 52px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 10pt;
}
#uploadReports .custom-file-input:hover::before {
  border-color: #999;
}
#uploadReports .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#uploadReports small{
	color: #888;
	padding-top: 5px;
	display: inline-block;
}

#paymentsTabs{
	padding: 0;
	margin-top: 20px;
}
#cardCredit{
	border: none;
}

#paymentsTabs .wpb_tabs_nav{
	border: none;
	width: 12.666667%;
}
#paymentsTabs .wpb_tabs_nav li a{
	font-weight: bold;
	font-size: 14px;
	padding: 25px 0 !important;
	color: #008fd5;
}
#paymentsTabs .wpb_tabs_nav li a,
.cardsType input[type=radio] + label{	
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-top: none;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #ddd;
}
#paymentsTabs .wpb_tabs_nav li.ui-state-active a{
	background: none;
	background-image: none;
	color: #000;
}
#paymentsTabs .wpb_tab .vc_row-fluid{
	margin-bottom: 12px;
}
#paymentsTabs .select-wrapper, #paymentsTabs .select-wrapper select{
	width: 555px;
}
#paymentsTabs .wpb_tab label{
	text-align: right;
	padding-top: 8px;
}
#paymentsTabs .cardsType label{
	width: 122px;
	float: left;
	text-align: center;
	color: #008fd5;
	font-weight: 500;
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #ddd;
}
.cardsType input[type=radio]{
	display: none;
}
#bookingConfirmedMsg{
	margin: 20px 25px;
	background: #f8f8f8;
	padding: 20px 25px;
}
#bookingConfirmedMsg h1{
	font-size: 30px;
	margin-bottom: 10px;
	color: #000;
}
#bookingConfirmedMsg p{
	color: #000;
	text-indent: 0;
}
#bookingConfirmedMsg p a{
	color: #008fd5;
}
#bookingConfirmed .wpb_accordion_header a{
	padding-left: 35px;
	cursor: auto;
}
#bookingConfirmed .wpb_accordion_header a span{
	padding: 11px;
	display: inline-block;
	border-left: 1px solid #ddd;
}
#bookingConfirmed .wpb_accordion.wpb_accordion_alt .wpb_accordion_wrapper .wpb_accordion_content{
	padding: 30px 40px;
}
.dl-horizontal dt {
	float: left;
	width: 175px;
	overflow: hidden;
	clear: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #777;
	margin-bottom: 30px;
}
.dl-horizontal dd {
	margin-left: 195px;
	margin-bottom: 30px;
	color: #333;
}
#bookingConfirmed .rightDl{
	padding-right: 25px;
	background: url('img/helthclinic/line.png') no-repeat right;
}
#bookingConfirmed .wpb_accordion_section{
	border-bottom: none;
}
#appointmentSummary .docotrList{
	margin-bottom: 20px;
	padding-bottom: 0;
}

#bookingConfirmed .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:after, 
#bookingConfirmed .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:before{
	background: transparent;
}

/*appointment-payment.html*/
.a_p_section_header a{
	padding: 0 38px 0 10px;
	color: #fff!important;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	background-color: #84b8d9;
	border-bottom: none;
	text-decoration: none;
	display: block;
}
.a_p_section_header a span.rowCount{
	border-right: 1px solid #ddd;
	padding: 11px 0;
	display: inline-block;
	padding-right: 10px;
	color: #fff;
	margin-right: 10px;
}
h3.a_p_section_header {	
	position: relative;
	margin: 0;
	background: none;
}
.a_p_section_header a.edit{
	position: absolute;
	right: 0;
	top: 4px;
	left: 94%;
	padding: 7px 0;
	text-align: center;
	background-color: #008fd5;
}
.a_p_upload_reports .a_p_section_content{
	padding: 20px 25px;
}
#a_p_info ul li{
	float: left;
	margin: 20px 0px;
	border-right: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}
#a_p_info ul li label.label{
	padding-left: 45px;
	font-weight: normal;
	margin-bottom: 15px;
}
#a_p_info ul li strong{
	color: #646060;
	font-weight: bold;
	font-size: 16px;
}
#a_p_info ul li:last-child{
	border-right: none;
}
#appointmentPayment .a_p_upload_reports .deleteReport{
	color: #7c7c7c;
	margin-bottom: 5px;
	display: block;
}
#appointmentPayment .a_p_upload_reports .deleteReport i{
	color: #008fd5;
	font-size: 25px;
	vertical-align: middle;
	padding-right: 5px;
}
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab{
	border-color: transparent;
}
#appointmentPayment #paymentsTabs .wpb_tabs_nav li a{
	display: block;
}
#a_p_info ul li label.label.a_p_fees{
	padding-left: 40px;
}
.a_p_section_header.active a{
	background: #008fd5;
}
#a_p_uploadReports #uploadReports .wpb_content_element{
	margin-top: 20px;
	margin-bottom: 0;
}
#a_p_uploadReports .custom-btn{
	padding: 5px 37px;
	color: #fff;
}
.custom-btn:hover{
	color: #008fd5!important;
}
/*Home Search Form*/
#home_quick_search .vc_row-fluid{
	margin-bottom: 0;
}

#home_quick_search input, 
#home_quick_search select{
	width: 250px;
	height: 40px;
	padding: 9px 10px;
	margin: 0;
	background: #fff;
	box-shadow: none;
	color: #999;
}
#home_quick_search input{
	color: #999;
}
#home_quick_search fieldset{
	height: auto;
}

#search_patients{
	margin-bottom: 0px;
}
#search_patients .custom-select,
#search_patients .select-wrapper{
	width: 170px;
	font-size: 12px;
	color: #999;
}
#search_patients form input[type="text"]{
	float: left;
	width: 300px;
	font-size: 12px;
	margin-left: 30px;
	text-align: center;
}
#search_patients form input[type="submit"]{
	padding: 6px 10px;
	margin-left: 10px;
	margin-bottom: 0;
}
#search_patients .vc_span3{
	padding-left: 27px;
}
/*Doctor Dashboard*/
#d_d_social_news .wpb_tabs_nav li.ui-tabs-active a{
	background: #006cad;
}
#d_d_social_news .wpb_tabs_nav li a{
	background:#008fd5;
	border-right: 1px solid #ddd;
	font-size: 15px;
	color: #fff;
	padding: 5px 20.3px !important;
}
#d_d_social_news .wpb_tabs_nav li a i{
	font-size: 30px;
	vertical-align: middle;
}
#d_d_social_news .wpb_tabs_nav li:last-child a{
	border-right: none;
}
#d_d_social_news .wpb_tab{
	padding: 15px;
}
.small_two_col{
	margin-top: 20px;
	margin-bottom: 15px;
	min-height: 382px;
}
#d_d_social_news .small_two_col .small_two_item{
	margin-bottom: 35px;
}
.small_two_col .small_two_item{
	margin-bottom: 19px;
	color: #008fd5;
}
.small_two_col .small_two_item img, .small_two_col .e_m_date{
	float: left;
	margin-right: 15px;
}
.small_two_col h4{
	font-size: 16px;
	font-weight: 600;
	margin-top: -6px;
}
#d_d_social_news a.custom-btn,
#emergency_request a.custom-btn,
a.view_all{
	display: block;
	margin-top: 20px;
}
#doctor_dashboard #profileBox .proflieInfo {
	margin-bottom: 19px;
}
#doctor_dashboard #profileBox{
	padding: 15px;
}
.panel_primary_head{
	background: #008fd5;
	font-size: 15px;
	color: #fff;
	padding: 14px 20px;
	text-transform: uppercase;
}
.panel_primary{
	border:  1px solid #ddd;
}
.panel_primary_content{
	padding: 15px;
}
.small_two_col p{
	text-indent: initial;
}
.small_two_col .e_m_date{
	background: #f68306;
	text-align: center;
}
.small_two_col .e_m_date h1{
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 28px;
	padding: 10px 20px;
}
.action_btns button{
	text-transform: none;	
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 13px;
}
.action_btns button.d_blue{
	background: #006cad;
	border-color: #006cad;
	margin-right: 8px;
}
.action_btns button.d_blue:hover{
	background: #fff;
}
#d_d_calendar .d_d_calendar_box{
	border: 1px solid #ddd;
}
#d_d_calendar .d_d_calendar_head{
	text-align: center;
	background: #008fd5;
	font-size: 15px;
	color: #fff;
	padding: 10px;
}
#d_d_calendar .cal_controls {
	border-top: 1px solid #ddd;
}
#d_d_calendar .cal_controls thead tr th{
	padding: 0;
	background: #2ab3f7;
	color: #fff;
}
#d_d_calendar .cal_controls thead tr th a{
	padding: 10px 20px;
	display: inline-block;
	color: #fff;
}
#d_d_calendar .cal_controls thead tr th.prev a{
	border-right: 1px solid #ddd;
}
#d_d_calendar .cal_controls thead tr th.next a{
	border-left: 1px solid #ddd;
}
#d_d_calendar .cal_controls thead tr th.switch{
	text-align: center;
}
#d_d_calendar .d_d_time{
	background: #2ab3f7;
	padding: 10px;
	float: left;
	margin-right: 15px;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	border-radius: 5px;
}
#d_d_calendar .small_two_col{
	margin-top: 10px;
}
#d_d_calendar .small_two_item{
	margin: 0 5px;
	border-bottom: 1px solid #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
}
#d_d_calendar .small_two_item:last-child{
	border-bottom: none;
}
.b_orange, .b_orange:hover{
	background: #edecea;
	color: #f68306;
	border-color: #edecea;
}
#filterFormInput::-webkit-input-placeholder{
    color:#999;
}
#filterFormInput:-moz-placeholder {
    color:#999;
}
/*Custom Tooltip*/
a.tooltip {position: relative; }
a.tooltip strong {line-height:30px;}
a.tooltip span {
	z-index: 10;
	display: none;
	padding: 0px 8px;
	position: absolute;
	bottom: 65px;
	background: #008fd5;
	color: #fff;
	left: -45px;
	font-size: 13px;
	line-height: 18px;
	width: 120px;
}
a.tooltip:hover span{
    display:inline-block; 
}

a.tooltip span:after, a.tooltip span:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

a.tooltip span:after {
	border-color: rgba(0, 143, 213, 0);
	border-top-color: #008fd5;
	border-width: 5px;
	margin-left: -5px;
}
a.tooltip span:before {
	border-color: rgba(0, 143, 213, 0);
	border-top-color: #008fd5;
	border-width: 5px;
	margin-left: -5px;
}
.slider-wrapper .intro h2{
	margin-top: 20px;
	margin-bottom: 20px;
}
.slider-wrapper .intro p{
	text-align: center;
	text-indent: 0;
	font-size: 13px;
}
.slider-wrapper .intro h2, .slider-wrapper .intro p{
	text-shadow:none;
}
.slider-wrapper .intro{
	padding-bottom: 0!important;
	border: 1px solid #999!important;
}
.slider-wrapper .buttons{
	margin-top: 20px;
}
.slider-wrapper .prev, .slider-wrapper .next{
	width: 37px;
	border-width: 0;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#datetimepicker{
	float: left;
	width: 182px;
}
#feesPanel .panel-body span{
	color: #000;
}
/*datetimepicker css*/
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next,
#ui-datepicker-div .ui-datepicker-header{
	background: #008fd5;
	color: #fff;
	padding: 5px 10px;
}
#ui-datepicker-div .ui-datepicker-prev{
	position: absolute;
	left: 0;
	padding: 0 0 0 10px;
}
#ui-datepicker-div .ui-datepicker-next{
	position: absolute;
	right: 0;
	padding: 0 10px 0 0;
}
.ui-datepicker .ui-datepicker-buttonpane{
	display: none;
}
h1.normalTitle{
	font-size: 25px;
	line-height: 30px;
	color: #000;
	margin-bottom: 16px;
}
#tube_style{
	margin: 12px 0 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #ddd;
}
.slimScrollBar{
	opacity: 0.5!important;
	filter: alpha(opacity=50)!important; /* For IE8 and earlier */
}

.custom_p_bar {
	height: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.pp_bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #f68306;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
#family_members .custom_p_bar{
	width: 110px;
}
#family_members .pp_bar_box{
	margin-top: 5px;
}
#recent_activity .small_two_item a{
	display: table-cell;
	vertical-align: middle;
	height: 56px;
	font-size: 15px;
}
#latest_reports{
	margin-top: 20px;
}
#latest_reports .small_two_col{
	margin-top: 0;
}
#latest_reports .small_two_col{
	min-height: 238px;
}
/*doctor appointment history*/
#doctor_appointment_history .p_title{
	margin-right: 25px;
}
#doctor_appointment_history .select-wrapper{
	margin-right: 10px;
}
#doctor_appointment_history form input[type="submit"]{
	margin-left: 0;
}
#doctor_appointment_history a.custom-btn.back_db{
	padding: 5px 16px;
}
ul.list_inline li{
	display: inline-block;
	padding: 8px;		
}
#days_llist{
	margin-bottom: 20px;
}
#days_llist li{
	border-right: 1px solid #ddd;
	padding: 0;
	text-align: center;
}
#days_llist li:first-child, #days_llist li:last-child{
	border-left: none;
	border-right: none;
	font-size: 15px;	
}
#days_llist li a{
	padding: 0 13px 0 14px;
	display: inline-block;
	font-size: 15px;
	color: gray;
}
#days_llist li.active a{
	color: #008fd5;
}
#days_llist li:first-child a, #days_llist li:last-child a{
	padding: 0;
	font-size: 25px;
	vertical-align: middle;
	text-align: center;
	margin-top: -28px;
	color: #008fd5;
}
#days_llist li a span{
	font-size: 12px;
}
#days_llist li:first-child a{
	margin-right: -3px;
}
#days_llist li:last-child a{
	margin-left: -3px;
}
#days_llist li:nth-child(2) {
	border-left: 1px solid #ddd;
}
.td_center tr td, .td_center tr th{
	text-align: center;
}
.status_complete{
	padding-right: 0;
}
#doctor_appointment_history .widget-title {
	margin-bottom: 30px;
}
#doctor_profile .p_c_circlechart{
	background: #008fd5;
	color: #fff;
	padding: 20px 0;	
}
#doctor_profile #profileBox{
	padding: 0;
}
#doctor_profile #profileBox .proflieInfo{
	padding: 20px 15px;
}
#doctor_profile .chart-circle .value{
	font-size: 30px;
}
#doctor_profile .status_complete .statusLink{
	vertical-align: sub;
}
#doctor_bankdetials h1{
	font-size: 16px;
	color: #000;
	/*font-family: "Myriad Pro";*/
	margin: 10px 0;
}
#socialInformation .vc_row-fluid{
	margin-bottom: 20px;
}
#seo_line{
	width: 70%;
	margin: 0 auto;
}
#seo_line h1{
	text-align: center;
	font-size: 22px;
	margin-top: 60px;
}
#a_p_info ul li label.label_notifications_reminders{
	background: url('img/helthclinic/nr.png') no-repeat;
}
#a_p_info ul li label.a_p_fees{
	background: url('img/helthclinic/fees.png') no-repeat;	
}
.doctors-carousel .links ul{
	top: 72%
}
.doctors-carousel .links li{
	margin: 0 34px;
}
.cancel_btn{
	margin-left: 10px;
}

/*Circle check box*/
.circleCheckbox input[type=checkbox]{
	visibility: hidden;
}
.circleCheckbox {
	width: 25px;
	height: 25px;
	background: #008fd5;
	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	margin: 0 auto;
}
.bank_details_checkboxs .circleCheckbox{
	float: left;
	margin-right: 25px;
}
.circleCheckbox label {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #fff;

	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.circleCheckbox input[type=checkbox]:checked + label {
	background: #008fd5;
}
/*Profile.html*/
#profile_in_modal{
	padding: 20px 25px;
}
#profile_in_modal h1{
	font-weight: 500;
	font-size: 26px;
	margin-bottom: 16px;
	line-height: 26px;
}
#profile_in_modal .left_col{
	width: 21.125%;
}
#profile_in_modal .left_col .doctorReviews{
	height: 100px;
}
#slot_table_col{
	width: 76.375%;
}
#slot_table_col .slot_table_head p{
	float: left;
	padding: 10px 0;
	color: #000;
	font-size: 15px;
}
#slot_table_col .slot_table_head p.fees_rs{
	width: 35%;
	text-align: center;
}
#slot_table .slot_day{
	padding: 8px 30px;
	background: #eeeced;
	text-align: center;
	color: #000;
	font-size: 15px;
	line-height: 18px;	
}
#slot_table{
	background: #f7f5f6;
	margin-top: 10px;
	position: relative;
}
#slot_table .slot_time{
	padding: 8px;
	border-bottom: 1px solid #fff;	
}
#slot_table .slot_time a{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	padding: 8px 20px;
	display: block;
	text-align: center;
	color: #008fd5;
	border-radius: 5px;
}
#slot_table .slot_time a:hover,
#slot_table .slot_time a.active{
	background-image: none;
	background: #008fd5;
	color: #fff;
}
#slot_table .vc_span2{
	margin: 0;
	width: 16.66%;
	border-right: 1px solid #fff;
}
#slot_table .slot_table_controls{
	position: absolute;
	top: 45%;
}
#slot_table .slot_table_controls.left{
	left: -2%;
}
#slot_table .slot_table_controls.right{
	right: -2%;
}
#slot_table .no_slots{
	height: 350px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	padding: 0 30px;
}
#profile_in_modal .profile_desc h2{
	font-size: 20px;
	color: #000;
	margin-bottom: 8px;
}
.profile_extra_info .col2border{
	border-left: 1px solid #ddd;
	padding-left: 60px;
}
.profile_extra_info ul li strong{
	font-weight: bold;
	color: #333;
	font-size: 15px;
}
.profile_extra_info ul li{
	margin-bottom: 20px;
}
/*About*/
.teams {
	margin: -25px -15px;
}
.team_item{
	width: 270px;
	position: relative;
	float: left;
	margin: 25px 0 0;
	padding: 0 15px 25px;
	text-align: center;
	color: #000;
	line-height: 26px;
	font-size: 17px;
	/*background: url('img/helthclinic/toparrow.png') no-repeat bottom;*/
}
.team_item h3{
	margin-top: 10px;
}
.team_item .pic{
	height: 255px;
	width: 255px;
	vertical-align: middle;
	text-align: center;
	border: 8px solid #f4f4f4;
	margin-bottom: 10px;
	display: table-cell;
}
.team_item p{
	color: #008fd5;
	font-size: 14px;
	border-color: #008fd5;
	position: relative;
	padding-bottom: 15px;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	line-height: 18px;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;	
}
.team_item a{
	bottom: 7.8%;
	right: 5%;
	z-index: 100;
}
.team_disc_box{
	display: none;
	border: 1px solid #008fd5;
	padding: 20px 25px 30px;
	margin-left: 15px;
	margin-right: 15px;
}
/*Partners*/
#lab_parners{
	margin-top: 45px;
}
#hospital_partners .team_item h3,
#lab_parners .team_item h3{
	border-color: #008fd5;
	padding-bottom: 15px;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
/*Contact*/
.country_address{
	margin-bottom: 110px;
}
.country_address.last_country{
	margin-bottom: 0;
}
.country_address img.pull-left{
	margin-right: 30px;	
}
.country_address h1, #contact_form h1{
	font-size: 25px;
	margin-bottom: 20px;
	color: #000;
	line-height: 25px;
}
.country_address address, #contact_form p{
	font-size: 15px;
	color: #777;
	font-weight: 600;
}
#contact_form form{
	margin-top: 40px;
}
#contact_form form .vc_row-fluid{
	margin-bottom: 25px;
}
#contact_form form .vc_row-fluid .label{
	color: #000;
	text-align: left;
}
#contact_form .vc_span6{
	padding: 0 83px;
}
/*Income*/
#page_income .custom-btn{
	padding: 6px 10px;
}
.checkbox_style2 .style2Radio input[type=radio] + label{
	background: #fff;
	border: 1px solid #ddd; 
	font-size: 15px;
	color: #777;
	margin-right: -4px;
	padding: 9px 25px;
}
.checkbox_style2 .style2Radio input[type=radio]:checked + label{
	background: #008fd5;
	color: #fff;
}
#income_filter2 .checkbox_style2{
	margin-right: -15px;
}
#income_filter2 .years_based input{
	width: 80px;
	float: left;
}
#income_filter2 .years_based a{
	padding: 9.5px 20px;
	color: #fff;
	background: #008fd5;
	display: inline-block;
}
#income_filter2 .years_based span{
	color: #333;
	font-size: 15px;
	padding-left: 12px;
}
#page_income .chart_type{
	color: #333;
	font-size: 18px;
	margin-top: 20px;
	font-weight: bold;
}
/*Login*/
#login_screen .col-centered{
	width: 350px;
	padding: 50px;
}
#a_p_uploadReports .continue_to_payment{
	background: #ddd;
	margin: 0 -25px;
	padding: 10px 25px;
}
#personalForm .input .col-sm2{
	width: 70px;
}
#personalForm .input .col-sm10{
	width: 214px;
	margin-left: 20px;
}
#personalForm .input .col-sm4{
	width: 90px;
	margin-right: 17px;
}
#personalForm .input .col-sm4.lastInput{
	margin-right: 0;
}
#formLifestyle .input label{
	width: 222px;
	float: left;
}
#formLifestyle .input .select-wrapper,
#formLifestyle .input select,
#formLifestyle .input input{
	width: 200px;
	float: left;
}

#loginBox{
	position: absolute;
	right: 6.5%;
	top: 100%;
	display: none;
}
#loginBox input{
	margin-bottom: 20px;
}
#loginBox .arrow_box {
	position: relative;
	border: 1px solid #ddd;
	background: #eeecec;
	padding: 20px;
}
#loginBox .arrow_box:after, #loginBox .arrow_box:before {
	bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#loginBox .arrow_box:after {
	border-color: rgba(0, 143, 213, 0);
	border-bottom-color: #008fd5;
	border-width: 10px;
	margin-left: -10px;
}
#loginBox .arrow_box:before {
	border-color: rgba(0, 143, 213, 0);
	border-bottom-color: #008fd5;
	border-width: 16px;
	margin-left: -16px;
}
#loginBox .doctorType {
	margin-top: 0;
	margin-bottom: 20px;
}
i#loginBoxClose{
	position: absolute;
	top: 5px;
	right: 8px;
	cursor: pointer;
	font-size: 20px;
	color:#008fd5;
}
/*FAQ*/
#faqs .content_read strong{
	font-weight: bold;
	color: #333;
	padding-bottom: 6px;
	display: block;
}
#faqs .content_read strong i{
	padding-right: 10px;
	font-size: 10px;
}
#faqs .content_read ul li{
	margin-bottom: 25px;
}
.img-circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
#faqs .team_item a{
	bottom: 9.8%;
}
.twoColRows{
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}
.twoColRows:last-child{
	border-bottom: 0;
}
.twoColRows .vc_span2{
	padding-top: 12px;
}
.w_t2{
	margin-bottom: 15px;
	font-size: 20px;
}
#faqs .whyShouldntIUse .w_t2{
	margin-bottom: 25px;
}
#faqs .whyShouldntIUse p{
	margin-bottom: 15px;
}
#faqs .whyShouldntIUse ul li{
	position: relative;
	margin-top: 8px;
	padding-left: 12px;
	line-height: 22px;
}
#faqs .whyShouldntIUse ul li i {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	line-height: 22px;
	color: #333;
}
.content_read b{
	font-weight: bold;
	padding-bottom: 10px;
	display: block;
}
/*videoPage*/
#videoPage .widget-title{
	margin-bottom: 6px;
}
#videoPage .diseasesName{
	font-size: 18px;
	padding-left: 10px;
}
#videoPage .patientContactInfo{
	font-size: 26px;
	text-align: right;
}
#videoPage .patientContactInfo span{
	padding: 15px;
}
#videoPage .patientContactInfo span.time{
	background: #686463;
	color: #fff;
	padding-left: 15px;
}
#videoPage .patientContactInfo span.time i{
	padding-right: 15px;
}
#patientVideoBox{
	margin-top: 25px;
}
#patientVideoBox .wpb_tabs.wpb_tabs_alt .wpb_tour_tabs_wrapper .wpb_tab{
	padding: 0;
}
#patientVideoBox .wpb_tabs.wpb_tabs_alt .wpb_tour_tabs_wrapper .wpb_tab,
#patientVideoBox .wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li a{
	border-color: #ddd;	
	text-transform: none;
	color: #008fd5;
}
#patientVideoBox .wpb_tabs .wpb_tabs_nav li.ui-tabs-active a{
	color: #fff;
}
#patientVideoBox .wpb_tabs.wpb_tabs_alt .wpb_tabs_nav li.ui-tabs-active a:after{
	border: none;
}
#patientVideoBox .videoControls{
	background: #686463;
	padding: 10px;
	text-align: center;
}
#patientVideoBox .videoControls a{	
	font-size: 30px;
	color: #fff;
	background: #393536;
	padding: 2px 8px;
	border-radius: 4px;
}
#patientVideoBox .vc_span4{
	border-right: 1px solid #ddd;
}
#patientVideoBox .vc_span8{
	padding: 20px;
	margin-left: 0;
	width: 68.3%;
}
#patientVideoBox .vc_span8 h5{
	font-weight: bold;
	font-size: 17px;
	color: #000;
	margin-bottom: 20px;
}
#patientMedication{
	margin-bottom: 20px;
}
#patientMedication tr td{
	padding: 0 10px 20px 0;
	border-bottom: none;
}
#patientMedication tr td .select-wrapper,
#patientMedication tr td select{
	width: 150px;
	height: 38px;
}
#patientMedication tr td input{
	width: 170px;
}
#labTest input{
	width: 200px;
	float: left;
	margin-right: 10px;
}
#labTest .select-wrapper,
#labTest select{
	width: 250px;
	float: left;
	height: 38px;
	margin-right: 10px;
}
/*Sign In*/
#singIn #personalForm .input {
	margin-bottom: 10px;
}
#singIn .w_t2 {
	margin-bottom: 25px;
	font-size: 19px;
}
#singIn .getListed .smallDec{
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 25px;
}
#singIn .getListed h5{
	font-weight: bold;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	margin: 5px 0;
}
.display_block{
	display: block;
	margin-bottom: 20px!important;
}
/*consultationSuccessfully*/
#consultationSuccessfully #doctorAppointment{
	margin-top: 0px;
}
#consultationSuccessfully #doctorAppointment .docotrList{
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
#nextStepsPanel .labTestItems{
	margin-bottom: 40px;
}
#nextStepsPanel .labTestItems ul li:first-child{
	width: 145px;
}
#nextStepsPanel .labTestItems ul li{
	display: inline-block;	
	margin-bottom: 10px;
	font-size: 16px;
}
#nextStepsPanel .custom-btn{
	font-size: 12px;
	padding:2px 5px;
	margin-right: 10px;
}
#nextStepsPanel .labTestItems ul li:last-child{
	margin-right: 0;
}
#nextStepsPanel .labPartners{
	margin-top: 
}
#nextStepsPanel .medicineList li {
	margin-bottom: 10px;
	font-size: 16px;
}
#nextStepsPanel .followUpAppointment label{
	font-size: 16px;	
}
#nextStepsPanel .nextStepsPanelHead{
	margin-bottom: 30px;
}
#nextStepsPanel #datepicker{
	width: 110px;
}
#nextStepsPanel #datetimepicker{
	width: 114px;
}
#nextStepsPanel .ui-datepicker-trigger{
	float: right;
}
#nextStepsPanel .followUpAppointment .vc_row-fluid{
	margin-bottom: 20px;
}
#nextStepsPanel .panel_primary_content .style2Radio label.last{
	margin-right: 0;
}
#nextStepsPanel .viaSMSPhone{
	margin-left: 40px;
	float: left;
	width: 240px;
	margin-top: -10px;
}

#nextStepsPanel .medicineList{
	width: 19.125%;
	
}
#nextStepsPanel .panel_primary_content .followUpForm {
	width: 44.208333%;
	
}
#nextStepsPanel .panel_primary_content .style2Radio label{
	padding: 4px 8px;
	margin-right: 11px;
}
#nextStepsPanel .labTestCol,
#nextStepsPanel .medicineList{
	min-height: 359px;
	border-right: 1px solid #ddd;
}

#patientVideoBox .chatUserImg{
	position: absolute;
	right: 5px;
	bottom: 5px;
	border: 2px solid #ddd;
	-webkit-box-shadow: 1px 1px 23px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 23px -3px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 23px -3px rgba(0,0,0,0.75);
}
#doctorCal table.month-view tbody tr td{
	padding: 0;
}
#doctorCal .month-view .title{
	padding: 15px 40px 10px 20px;
}
#doctorCal .month-view .popup p{
	text-indent: 2em;
	padding-bottom: 0;
	line-height: 15px;
}
