@charset "utf-8";
/* CSS Document */

body {margin:0;
      padding:0;
}

.container_admin {margin:0;
 			padding:0;
			background-color:#333;
			width:100%;
}

.wrapper_admin {margin:0;
		  padding:0;
		  background:#666;
		  width:100%;
}


.nav_admin {margin:100px 0;
	  padding:10px;
	  background-color:#0CF;
	  }

